.big-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-player__album-img {
  margin: 50px 0;
}

.big-player__album-img img {
  width: 265px;
  height: 265px;
  border-radius: 30px;
  box-shadow: 0 0 50px orangered;
}

.big-player__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-player__name {
  font-size: 42px;
  font-weight: 800;
  padding-bottom: 10px;
}

.big-player__artist {
  font-size: 22px;
  font-weight: 800;
  color: var(--color-gray);
}

.big-player__playback {
  width: 100%;
  padding: 50px 0;
}

.playback__time {
  font-size: 18px;
  padding: 0 5px;
  justify-content: space-between;
}

.playback__search-bar input {
  width: 100%;
  cursor: grab;
}

.playback__search-bar input:active {
  cursor: grabbing;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  box-shadow: 1px 1px 1px var(--color-black);
  background: var(--color-gray);
  border-radius: 3px;
  border: 1px solid var(--color-black);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 4px var(--color-black);
  border: 1px solid var(--color-black);
  height: 12px;
  width: 3px;
  background: orangered;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: orangered;
}

.big-player__btns {
  width: 100%;
  justify-content: space-around;
}

.big-player__repeat-btn,
.big-player__shuffle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  color: whitesmoke;
  background-color: var(--color-black);
  box-shadow: 0 0 15px orangered;
}

.big-player__previous-btn,
.big-player__next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: whitesmoke;
  background-color: var(--color-black);
  box-shadow: 0 0 15px orangered;
}

.big-player__play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 25px;
  color: whitesmoke;
  background-color: var(--color-black);
  box-shadow: 0 0 15px orangered;
}

.big-player__repeat-btn:hover,
.big-player__shuffle-btn:hover,
.big-player__previous-btn:hover,
.big-player__next-btn:hover,
.big-player__play-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 20px orangered;
  color: var(--color-gray);
}

.big-player__repeat-btn:active,
.big-player__shuffle-btn:active,
.big-player__previous-btn:active,
.big-player__next-btn:active,
.big-player__play-btn:active {
  box-shadow: 0 0 20px orangered;
  color: yellowgreen;
}
