.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist__info {
  text-align: center;
  padding-top: 10px;
}

.playlist__img img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 8px 15px purple, 0 -8px 15px purple;
}

.playlist__name {
  font-size: 30px;
  font-weight: 800;
}

.playlist__tag {
  font-size: 15px;
  font-weight: 800;
  color: var(--color-gray);
}

.playlist__name,
.playlist__tag {
  padding: 5px 0;
}

.playlist__mix {
  width: 90%;
  justify-content: space-around;
  margin: 20px 0;
}

.playlist__shuffle-btn,
.playlist__like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 46px;
  border-radius: 23px;
  background-color: var(--color-gray);
  font-weight: 700;
  box-shadow: 0 3px 5px grey;
}

.playlist__shuffle-btn:hover,
.playlist__like-btn:hover {
  background-color: grey;
  box-shadow: 0 0 20px grey;
  cursor: pointer;
  color: whitesmoke;
}

.playlist__like-btn:active i {
  font-weight: 900;
  color: red;
}

.playlist__like-btn span,
i {
  margin: 5px;
}

.playlist__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  height: 320px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px var(--color-gray), 0 -5px 5px var(--color-gray);
}

.playlist__music {
  width: 270px;
  height: 48px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 4px 0;
  border: 2px solid rgba(0, 0, 0, 0);
}

.playlist__music:hover {
  border: 2px solid var(--color-gray);
  box-shadow: 0 0 8px var(--color-gray);
  cursor: pointer;
}

.playlist__music:active {
  background-color: var(--color-gray);
}

.playlist__music:active .music__artist,
.playlist__music:active .music__menu {
  color: black;
}

.music__album-img {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.music__album-img img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.music__info-cover {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.music__info,
.music__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.music__name {
  font-size: 18px;
  font-weight: 700;
}

.music__artist {
  font-size: 12px;
  color: var(--color-gray);
}

.music__menu {
  font-size: 22px;
  color: var(--color-gray);
}

.mini-player {
  position: absolute;
  top: 825px;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  padding: 5px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);
  color: whitesmoke;
  box-shadow: 0 0 8px black;
}

.mini-player__img {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.mini-player__img img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.mini-player__name {
  font-size: 18px;
  font-weight: 700;
}

.mini-player__artist {
  font-size: 12px;
  color: var(--color-gray);
}

.mini-player__btns div:hover {
  cursor: pointer;
  color: var(--color-gray);
}

.mini-player__btns div:active {
  color: yellowgreen;
}

.mini-player__pause-btn {
  font-size: 20px;
}

.mini-player__previous-btn,
.mini-player__pause-btn,
.mini-player__next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
